%header
  .mui-container
    %table
      %tr
        %td
          = link_to image_tag('threatresponse_logo.png'), '/'
        %td
          %ul
            %li
              %a{href: "https://github.com/ThreatResponse"} Github
            / %li
            /   %a{href: "#"} Documentation
            %li
              %a{href: "#contact"} Contact
