#derbycon


%h3 DerbyCon Links
%ul
  %li
    =link_to 'DerbyCon Slides', "http://threatresponse-derbycon.s3-website-us-west-2.amazonaws.com/"
  %li
    =link_to 'DerbyCon Video', "https://www.youtube.com/watch?v=cmEUxxYFjK8"
